$color_primary:#3C3C3C;
$brand_secondary :#FFFFFF;

$text_color_color_primary:#00D9A6;

$button_color_primary:#00D9A6;
$button_color_secondary :#38DC8B;
$button_color_tertiary :#83DF68;


$header_social:10vh;
$header_nav:15vh;

//*creata variabile per definire la grandezza dei componenti
$carousel_height:800px;
$you_web_height:800px;
$our_missions:900px;
$projects_main:500px;
$jumbo_guest:800px;
$latest_news:1000px;