@import '~bootstrap/scss/bootstrap';
@import './_variables.scss';


li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

button.green {
    padding: 0.5rem 1rem;
    color: white;
    background-image: linear-gradient(to right, #b0f89b, #00d9a6);
    box-shadow: 3px 3px 20px 1px #02ffc4;
}

button.green:hover {

    background-image: linear-gradient(to right, #00000073, #000000E6);
    box-shadow: 3px 3px 20px 1px #000000b3;
}


button.gray {
    padding: 0.5rem 1.5rem;
    color: white;
    background-image: linear-gradient(to right, #00000073, #000000E6);
    /*   box-shadow: 3px 3px 20px 1px #000000b3; */

}

.text_color_color_primary {
    color: $text_color_color_primary;
}

.bg_primary {
    background-color: #FAFAFA;
}

.decoration-style-mini::before {
    content: "";
    width: 10px;
    height: 5px;
    display: block;
    border-radius: 1.8rem;
    background-image: linear-gradient(to right, #b0f89b, #00d9a6);
    padding-left: 0.2rem;
}

.decoration-style::after {
    content: "";
    width: 50px;
    height: 5px;
    display: block;
    border-radius: 1.8rem;
    background-image: linear-gradient(to right, #b0f89b, #00d9a6);
}

.decoration-style-point::before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background-color: #00d9a6;
    position: absolute;
    left: -10px;
    top: 40%;
    transform: translate(-50%);

}